svg {
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  
  path {
    stroke-dasharray: 50;
    animation: draw 2s infinite;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 0
    }
    to {
      stroke-dashoffset: 200;
    }
  }